@import "tailwindcss";
/* @variant dark (&:where(.dark, .dark *)); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: none;  
    }
  }